/* ===== GLOBAL ===== */
body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: #0F0F0F;
    color: #FFF;
    scroll-behavior: smooth;
}

.section {
    padding: 80px 40px;
    max-width: 1100px;
    margin: auto;
}

.title {
    font-size: 32px;
    margin-bottom: 40px;
    color: #7C3AED;
    font-weight: 700;
}

/* ===== NAV ===== */
.nav {
    border-bottom: 1px solid #1E1E1E;
    padding: 20px 0;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
}

.nav-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #FFF;
    margin: 0 15px;
    text-decoration: none;
    opacity: 0.7;
    transition: 0.3s;
}

nav a:hover {
    opacity: 1;
    color: #06B6D4;
}

.cv-btn {
    background: #7C3AED;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 0.3s;
}

.cv-btn:hover {
    background: #5B21B6;
}

/* ===== HERO ===== */
.hero {
    height: 90vh;
    text-align: center;
    padding-top: 100px;
}

.profile-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #7C3AED;
    box-shadow: 0 0 25px #7C3AED33;
}

.hero span {
    color: #7C3AED;
}

.btn-primary {
    display: inline-block;
    margin-top: 25px;
    padding: 14px 28px;
    background: #7C3AED;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.btn-primary:hover {
    background: #5B21B6;
}

/* ===== GRID ===== */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.card {
    background: #1E1E1E;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #242424;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    border-color: #7C3AED;
}

/* ===== SKILLS ===== */
.skills span {
    background: #1E1E1E;
    margin: 10px;
    padding: 12px 20px;
    border-radius: 8px;
    display: inline-block;
}

/* ===== FOOTER ===== */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 60px;
    opacity: 0.5;
}
